.nimpl-card {
    --first-color: rgb(var(--color-neutral-200));
    --second-color: rgb(var(--color-neutral-500));

    &:hover{
        --first-color: rgb(var(--color-dye-pink));
        --second-color: rgb(var(--color-dye-blue));
    }

    &::after {
        content: "";
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        display: block;
        background: linear-gradient(45deg, var(--first-color), var(--second-color));
        background-size: 200% 200%;
        position: absolute;
        left: -2px;
        top: -2px;
        z-index: -1;
        border-radius: 0.85rem;
        animation: border-anim 5s infinite;
    }
}

@keyframes border-anim {
    0% {
        background-position: 0%;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}
